.header {
  padding: 50px;
  text-align: center;
  background-color: rgb(180, 60, 60);
  color: white;
  font-size: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.navbar {
  padding-left: 0px;
  margin-left: 0px;
  background-color: #8A2E2E;
  color: #fff;
  cursor: pointer;
}

.nav-link:hover {
  color: rgb(0, 0, 0);
}

.nav-link {
  color: #fff;
}

.form-horizontal {
  padding: 10px;
}

th {
  text-align: center;
}

