  .header {
    text-decoration: none;
    padding: 50px;
    text-align: center;
    background-color: rgb(180, 60, 60);
    color: white;
    font-size: 20px;
  }

  .h1 {
    color : black;
  }


  .nav-link {
    color:white;
  }

  .nav-link:hover {
    color: rgb(0, 0, 0);
  }
  table
  {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
    padding: 30px;
  }

th, td, tr
{
    padding: 15px;
    border: 1px solid black;
}

caption { 
    color: black;
    caption-side: top;
    font-weight: bold;
    padding: 6px;
    text-align: left;
    font-size: 30px;
}

button
{
  margin: auto;
  font-size: 17px;
}