body{
    background: #ffffff;
    font-family:sans-serif;
}

.login-form{
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}

.btn{
    background: #555555;
    border-radius: 4px;
    border: 2px solid #555555;
    font-size: 15px;
}
.btn:hover {
    background: #c2bebe;
    color: #fff;
    border: 2px solid #c2bebe;
  }